/* itinerary.css */
.itinerary-page {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0.8rem;
}

.itinerary-page table {
    border-collapse: collapse;
    width: 100%;
}

.itinerary-page th,
.itinerary-page td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 6px;
    font-size: 20px;
}

.itinerary-page th {
    background-color: rgb(117, 201, 250);
}

.itinerary-page td {
    background-color: rgb(205, 235, 253);
}

.itinerary-page form {
    display: flex;
    gap: 6px;
    flex-direction: column;
}

.itinerary-page form * {
    font-size: 18px;
}

.itinerary-page form input {
    padding: 8px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.itinerary-page form button {
    padding: 8px;
    font-size: 18px;
    background-color: #74c9fa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.itinerary-page form button:hover {
    background-color: #56a8d9;
}

.itinerary-page button {
    font-size: 18px;
    background-color: #74c9fa;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.itinerary-page button:hover {
    background-color: #56a8d9;
}

.itinerary-page .itinerary-list {
    margin-top: 16px;
}

.itinerary-page .itinerary-item {
    margin-bottom: 8px;
    padding: 8px;
    background-color: rgb(205, 235, 253);
    border-radius: 5px;
}

.itinerary-page .itinerary-item button {
    background-color: rgb(117, 201, 250);
}

.itinerary-page .itinerary-item button:hover {
    background-color: rgb(56, 133, 201);
}

.itinerary-page h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 16px;
}